<!DOCTYPE html>
<html>
<head>
<title>Add Student</title>
</head>

<body>

<h2>Add Student</h2>

<form method="POST">

Name:
<input type="text" name="studentname" required>
<br><br>

SAP ID:
<input type="text" name="sapid" required>
<br><br>

Gender:
<select name="gender">
<option>Male</option>
<option>Female</option>
</select>

<br><br>

Marks:
<input type="number" step="0.01" name="marks">

<br><br>

<button type="submit">Submit</button>

</form>

</body>
</html>
